<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn2day</title>
    <meta name="author" content="Efe Akaröz - Python Developer">
    <meta name="keywords" content="Learn2day, English Learn, random word api">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-dark bg-primary">
        <a style="margin-left:20px;" class="navbar-brand" href="/">Learn2day - English Learning</a>
    </nav><br>
    <div style="margin-left:20px;width:80%;">

    <p>English: {{data["word"]}}</p>
    <p>Translated: {{data["wordtranslated"]}}</p>
    <label >Summary:</label>
    <article>
        {{data["summary"]}}
    </article><br><br>
    <label >Summary Translated</label><br><br>
    <article>
        {{data["summarytranslated"]}}
    </article><br>
   <br>

    <p>Related Images:</p>
    {% for i in data["images"] %}
        <img src="{{i}}">
    {% endfor %}
    </div>
</body>
</html>